@import url("./icon.css");
@import url("./loading.css");

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.header ul li.li-icon [class^="icon icon-"] {
    width: 1.4rem;
    height: 1.4rem;
    background-size: 1.2rem 1.2rem;
}

.header ul li.li-icon:hover [class^="icon icon-"] {
    background-size: 1.4rem 1.4rem;
    fill: #7dd3fc;
}
